*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    width: 1180px;
    max-width: 100%;
    margin: 0 auto;
}

.debug header{
    background: #e579e6;
    min-height: 145px;
    margin-top: 20px;
}

.debug .container-1{
    background: #e1d67a;
    min-height: 500px;
    margin: 20px 0;
}

.container-2{
    background: #0286f4;
}

.container-2::after{
    content: "";
    display: block;
    clear: both;
}

.container-2 section:nth-of-type(1){
    background: #abcfe7;
    min-height: 90px;
    float: none;
}






