*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------ */
.cotainer{
    max-width: 1180px;
    margin: 0 auto;
}

/* navigazione */
.debug header{
    background: #e579e6;
    min-height: 145px;
    width: 100%;
    margin-top: 20px;
}

/* descrizione  */
.debug .container-1{
    background: #e1d67a;
    min-height: 500px;
    margin: 20px 0;
}

/* contenuto */
.container-2{
    background: #0286f4;
    width: 100%;
}

.clearflix::after{
    content: "";
    display: block;
    clear: both;
}

.description-top{
    background: #abcfe7;
    height: 90px;
    width: 100%;
    margin-bottom: 20px;
}

.sidebar{
    background: #abcfe7;
    width: calc(20% - 20px);
    height: 540px;
    float: left;
}

.content{
    background: #abcfe7;
    width: 60%;
    height: 540px;
    margin: 0 20px;
    margin-bottom: 20px;
    float: left;
}

/* ringraziamenti */
footer{
    background: #8801fe;
    height: 60px;
    margin-top: 20px;
}